version: "3"
services:
  nginx:
    image: nginx:1.18-alpine
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    restart: on-failure
    depends_on:
      - php
    ports:
      - 80:80
  
  php:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    volumes:
      - ./src:/var/www/html
    restart: on-failure
    tty: true
    depends_on:
      - db
    stdin_open: true
  db:
    image: mysql:8.0
    cap_add:
      - SYS_NICE
    restart: always
    environment:
      - MYSQL_DATABASE=main
      - MYSQL_ROOT_PASSWORD=adergunov
    ports:
      - '3306:3306'
    volumes:
      - ./docker/db:/var/lib/mysql
